*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cntr{
    /* height: 1600px;
    width: 1600px; */
    flex-wrap:wrap;
    /* flex-basis: 2;
    flex-shrink: 1; */
    margin: auto;
    margin-top: 200px;
}

#resetbtn{
    flex-basis: 0.5;
    min-height: 50px;
    min-width: 100px;
    margin:auto;
    border-radius: 10px;
}

#resetbtn:hover{
    color: green;
    background-color: white;
    font-weight: bold;
}
.hovered{

    background-color: wheat !important;
}


.regular {
    /* This code styles an unused/Non-Touched DIV */
    background-color: white;
}
body{
    display: flex;
    justify-content: space-evenly;
    min-width: 100vh;
    flex-direction: column-reverse;
}